<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent  py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="../../../index.html">
        <img src="../assets/img/logoaviva.svg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../../../index.html">
                <img src="../assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
       <!--    <li class="nav-item dropdown">
            <a  class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text" (click)="goToInfo()">Información</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <a (click)="goToInfo()" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="ni ni-spaceship"></i>
                  </div>
                  <div class="media-body ml-3" >
                    <h6 class="heading text-primary mb-md-1">Info</h6>
                    <p class="description d-none d-md-inline-block mb-0">Aqui tienes toda la info de curada por los especialistas</p>
                  </div>
                </a>
              </div>
            </div>
          </li> -->
          <li class="nav-item dropdown">
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-single-copy-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Opciones</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="close()">
                <i class="ni ni-tie-bow text-warning"></i>
                Cerrar sesión
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>