.page-header.page-header-small {
    min-height: 20vh;
    max-height: 300px;
}
/* .section-shaped{
    background:#085E7D;
} */
.nopadding{
    padding-top:0!important;
    padding-bottom:0!important;
}
.container-full{
    width:97%;
    margin-left:1.5%;
}
.table td{
    padding:.2rem!important;
}